<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora de Calorias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input [(ngModel)]="P" label="Peso" labelPlacement="floating" placeholder="Digite seu Peso"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="T" label="Tempo" labelPlacement="floating" placeholder="Digite o tempo da atividade em horas"></ion-input>
      </ion-item>
      <ion-radio-group [(ngModel)]="exercicio">
        <ion-item>
        <ion-label>Basquete</ion-label>
        <ion-radio value="B"></ion-radio>
        </ion-item>
        <ion-item>
        <ion-label>Ciclismo Moderado</ion-label>
        <ion-radio value="Ci"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Corrida</ion-label>
          <ion-radio value="Co"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-button expand="block" (click)="Calorias()">Calcular</ion-button>
</ion-content>
